:root {
    --background-color: #DFF8EB;
    --primary-text-color: #515151;
    --secondary-text-color: #000000;
    --accent-color1: #aee2ee;
    --accent-color2: #E3C5CA;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
body {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to top left, #E3C5CA 0%,#E3C5CA 20%,#aee2ee 40%,#aee2ee 50%,#E3C5CA 70%,#E3C5CA 100% );
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.page__title {
    position: absolute;
    font-size: 80px;
    line-height: 1.3;
    width: 100%;
    text-align: center;
    color: var(--primary-text-color);
    font-family: 'Nanum Gothic Coding', cursive;
    font-weight: 700;
    text-shadow: 0 0 10px #696969;
    animation: fadeIn 2s ease-in-out;
    overflow: hidden;
}

.character {
    display: inline-block;
    opacity: 0;
    transform: translateY(1em);
    transition: all 0.5s ease-in-out;
}

.text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    width: 100%;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.home__header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 65px;
}

.home__nav {
    width: 300px; 
    height: 300px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: auto;
    padding-bottom: 25px;
    padding-top: 25px;
    position: relative;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Initial State */
.nav__button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: radial-gradient(circle at center, #FFFFFF 0%,#FFFFFF 20%,#aee2ee 30%,#aee2ee 50%,#FFFFFF 70%,#FFFFFF 100% );
    transition: all 0.5s ease;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
}

.nav__button--activated {
    width: 250px;
    height: 250px;
    animation: none;
}

.nav__submenu {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

    /* Define initial state for submenu buttons */
    .nav__submenu .nav__subbutton {
        opacity: 0;
        transition: opacity 0.5s, top 0.5s, left 0.5s; /* Add transition */
    }

.nav__subbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(circle at center, #FFFFFF 0%,#FFFFFF 20%,#aee2ee 30%,#aee2ee 50%,#FFFFFF 70%,#FFFFFF 100% );
    color: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    animation: subGrowShrink 3.5s ease-in-out infinite;
}

    /* Define positions around the circle */
    .nav__submenu.show .nav__subbutton:nth-child(1) {
        top: -30%;
        left: 50%;
        opacity: 1;
    }

    .nav__submenu.show .nav__subbutton:nth-child(2) {
        top: 80%;
        left: -40%;
        opacity: 1;
    }

    .nav__submenu.show .nav__subbutton:nth-child(3) {
        top: 80%;
        left: 140%;
        opacity: 1;
    }

    /* Add hover effect to submenu buttons */
    .nav__subbutton:hover {
        width: 200px; /* Increasing size, like you did with the main button */
        height: 200px;
        animation: none; /* Remove animation */
    }

        .nav__subbutton:hover .nav__subbutton-text {
            color: var(--primary-text-color); /* Making text visible */
            font-family: 'Nanum Gothic Coding', cursive;
            font-size: 32px;
        }

.nav__button-text {
    font-size: 20px;
    color: transparent;
    transition: color 0.5s ease;
}

.nav__subbutton-text {
    font-size: 20px;
    color: var(--primary-text-color);
    transition: color 0.5s ease;
    font-family: 'Nanum Gothic Coding', cursive;
}

.nav__button--initial {
    animation: growShrink 3.5s ease-in-out infinite;
}

/* Hover State */
.nav__button:hover {
    width: 250px;
    height: 250px;
}

    .nav__button:hover .nav__button-text {
        color: var(--primary-text-color);
        font-family: 'Nanum Gothic Coding', cursive;
        font-size: 32px;
    }
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@keyframes growShrink {
    0%, 100% {
        width: 25px;
        height: 25px;
    }
    
    50% {
        width: 150px;
        height: 150px;
    }
}

@keyframes subGrowShrink {
    0%, 100% {
        width: 120px;
        height: 120px;
    }

    50% {
        width: 200px;
        height: 200px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
