:root {
    --background-color: #DFF8EB;
    --primary-text-color: #363737;
    --secondary-text-color: #E3C5CA;
    --accent-color: #aee2ee;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
body {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to top left, #E3C5CA 0%,#E3C5CA 20%,#aee2ee 40%,#aee2ee 50%,#E3C5CA 70%,#E3C5CA 100% );
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.home__title {
    position: absolute;
    font-size: 80px;
    line-height: 1.3;
    width: 100%;
    text-align: center;
    color: var(--primary-text-color);
    font-family: 'Nanum Gothic Coding', cursive;
}

.home__header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 65px;
}

.home__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: auto;
    padding-bottom: 25px;
    padding-top: 25px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.nav__bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-bottom: 10px;
    background-color: var(--background-color)
}
.nav__bar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: auto;
    padding-bottom: 25px;
    padding-top: 25px;
}

/* Initial State */
.nav__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: radial-gradient(circle at center, #FFFFFF 0%,#FFFFFF 20%,#aee2ee 30%,#FFFFFF 70%,#FFFFFF 100% );
    transition: all 0.5s ease;
    cursor: pointer;
    overflow: hidden;
}

.nav__button-text {
    font-size: 20px;
    color: transparent;
    transition: color 0.5s ease;
}

.nav__button--initial {
    animation: growShrink 3.5s ease-in-out infinite;
}

/* Hover State */
.nav__button:hover {
    width: 200px;
    height: 200px;
}

    .nav__button:hover .nav__button-text {
        color: var(--primary-text-color);
        font-family: 'Nanum Gothic Coding', cursive;
    }

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@keyframes growShrink {
    0%, 100% {
        width: 25px;
        height: 25px;
    }
    
    50% {
        width: 125px;
        height: 125px;
    }
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
